:host { //sets container to column flexbox
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 70vw;
}

mat-nav-list {
	padding: 0 0 0 0;
	a {
		padding: 4vh 0;
		font-size: x-large;
		font-weight: 500;
		border-style: none none solid none;
		border-color: lightgrey;
	}
}
