<mat-toolbar color="primary" class="toolbar">
	<button
		*ngIf="isHandHeld"
		type="button"
		mat-icon-button
		aria-label="button toggle sidenav"
		(click)="toggleDrawer()">
		<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
	</button>
	<a mat-button routerLink="/"><h1 class="brand">{{ companyName.toUpperCase() }}</h1></a>
	<!-- <span class="spacer"></span> -->
	<!-- <div *ngIf="!(isHandset$ | async)"> -->
	<!--	 <a mat-button *ngFor="let item of items" href="{{ item.link }}"> -->
	<!--		 <img alt="{{ item.name }}" src="{{ item.img }}"> -->
	<!--	 </a> -->
	<!-- </div> -->
</mat-toolbar>
