@mixin colcontainer { //sets container to column flexbox
	display: flex;
	flex-flow: column;
	height: 100%;
}

:host { //to max out sidenav
	@include colcontainer;
	height: 100vh; // position is important to override mixin height
}

.fit {
	display:flex;
	flex-flow: row;
	height: 100%;
	width: 100%;
}

.max-width {
	width: 100%;
}

.col-container {
	@include colcontainer;
}
