<app-top-toolbar
			[isHandHeld]="(isHandHeld |async)"
			[menuDrawer]="menudrawer">
</app-top-toolbar>
<mat-sidenav-container class="spacer fit">
	<mat-sidenav #menudrawer
											 mode="over">
		<div class="col-container">
			<h2>{{ capitalize("menu") }}</h2>
			<h2>{{ capitalize("placeholder text") }} </h2>
			<span class="spacer"></span>
			<app-links *ngIf="(isHandHeld | async)"></app-links>
		</div>
	</mat-sidenav>
	<mat-sidenav-content class="max-width">
		<app-routes-toolbar *ngIf="!(isHandHeld | async)"></app-routes-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
<app-bottom-toolbar></app-bottom-toolbar>
