:host { //sets container to column flexbox
	display: flex;
	flex-flow: column;
	height: 100vh; // position is important to override mixin height
}

.fit {
	display:flex;
	flex-flow: row;
	height: 100%;
	width: 100%;
}

.max-width {
	display: flex;
	flex-flow: column;
	width: 100%;
}
