<div class="container">
	<app-top-toolbar 
		[isHandHeld]="(isHandHeld |async)"
		[menuDrawer]="menudrawer">
	</app-top-toolbar>
	<mat-sidenav-container class="spacer">
		<mat-sidenav #menudrawer
		[opened]="!(isHandHeld | async) ? true :false"
		[mode]="(isHandHeld | async) ? 'over' : 'side'">
			<!-- TODO: maybe use mat-nav-list? -->
			<h2>{{ capitalize("menu") }} </h2>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
