@import '~@angular/material/theming';

@mixin set-theme-brand($theme) {
	$accent-palette:  map-get($theme, accent);
	.brand {
		// color: mat-color($primary-palette);
		color: mat-color($accent-palette);
	}
}

.mat-toolbar {
	a {
		text-decoration: none;
		img {
			height: 5vh;
			padding: 1vh 5vw;
		}
	}
}

// required to fill sidenav content to max size
.max{
	min-height: 100%;
	display: flex;
	flex-flow: column;
}
.spacer { // fills space for use with flexbox
	flex: 1 1 auto;
}
.toolbar {
	height: 8vh;
	// align-items: center;
}
.brand {
	font-family: "Stardos Stencil";
	// vertical-align: middle;
}
.handheld{
	.left-menu {
		flex-direction: column;
		// align-items: center;
		height: 100%;
		width: 60vw;
	}
}
