@import '~@angular/material/theming';

@mixin set-theme-brand($theme) {
	$accent-palette:  map-get($theme, accent);
	.brand {
		// color: mat-color($primary-palette);
		color: mat-color($accent-palette);
	}
}

.mat-toolbar {
	a {
		text-decoration: none;
		img {
			height: 5vh;
			padding: 1vh 5vw;
		}
	}
	.brand {
		font-size: xx-large;
	}
}

// required to fill sidenav content to max size
.max{
	min-height: 100%;
	display: flex;
	flex-flow: column;
}
.spacer { // fills space for use with flexbox
	flex: 1 1 auto;
}
.toolbar {
	height: 10vh;
}
.brand {
	font-family: "Stardos Stencil";
}
.handheld{
	.left-menu {
		height: 100%;
		width: 60vw;
	}
	.max-width {
		width: 100%;
	}
	.link-menu {
		display: flex;
		height: 100%;
		width: 100%;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
	}
	.item-menu {
		max-height: 6vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.item-text {
		height: 100%;
	}
	.item {
		// set again to make img maintain corrent aspect ratio
		height: 6vh;
	}
}
