:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	font-size: 4vh;
}

h1 {
	margin: 7vh 3vw;
	font-size: 2em;
}
.info {
	margin: 4vh 4vw;
	h3 {
		font-size: 1em;
		font-family: "Stardos Stencil";
	}
	mat-list-item {
		margin: 2vh 0 0 0;
		font-size: 0.8em;
		height: auto;
	}
}
