:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 4vh; // other component fonts based on this
	margin: 7vh 0;
}


h3 {
	text-transform: uppercase;
	font-size: 1em;
	font-family: "Stardos Stencil";
}

.info {
	margin: 2vh 0 0 0;
	justify-content: center;
	mat-list-item {
		margin: 2vh 0 0 0;
		font-size: 0.8em;
		height: auto;
	}
}
