:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.employee {
	margin: 6vh 5vw;
	display: flex;
	$mrgin: 2vh 2vw;
	.content {
		margin: $mrgin;
	}
	img {
		margin: $mrgin;
		height: 130px;
		width: auto;
	}
}
