@import '~@angular/material/theming';
// Plus imports for other components in your app.
// @import './app/toolbars/toolbars.component';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@mixin set-theme-brand($theme) {
	$accent-palette:  map-get($theme, accent);
	.brand {
		// color: mat-color($primary-palette);
		color: mat-color($accent-palette);
		font-family: "Stardos Stencil";
	}
}

@mixin set-theme-menu($theme) {
	$menu-primary: map-get($theme, primary);
	.mat-drawer-inner-container { // maybe not the smartest catch class
		background-color: mat-color($menu-primary, lighter);
	}
}

@mixin set-theme($theme) {
	@include angular-material-color($theme);
	@include set-theme-brand($theme);
	@include set-theme-menu($theme);
}

// closest to brand color available
$brand-color: mat-palette($mat-orange, A700, 200, 900);

//  Available color palettes: https://material.io/design/color/
.light-theme {
	$light-app-primary: mat-palette($mat-grey, 900, 100);
	$light-app-accent:	$brand-color;
	$light-app-warn:		mat-palette($mat-red);
	$light-app-theme: mat-light-theme((
	color: (
	primary: $light-app-primary,
	accent: $light-app-accent,
	warn: $light-app-warn,
	)
	));
	@include set-theme($light-app-theme);
}

.dark-theme {
	$dark-app-primary: mat-palette($mat-grey, 900, 800);
	$dark-app-accent: $brand-color;
	$dark-app-warn:    mat-palette($mat-red);
	$dark-app-theme: mat-dark-theme((
	color: (
	primary: $dark-app-primary,
	accent: $dark-app-accent,
	warn: $dark-app-warn,
	)
	));
	@include set-theme($dark-app-theme);
}

.orange-theme {
	$light-app-primary: $brand-color;
	$light-app-accent:	mat-palette($mat-grey, 900, 200);
	$light-app-warn:		mat-palette($mat-red);
	$light-app-theme: mat-light-theme((
	color: (
	primary: $light-app-primary,
	accent: $light-app-accent,
	warn: $light-app-warn,
	)
	));
	@include set-theme($light-app-theme);
}
