.main-container {
	margin: 5vh 8vw;
	display:flex;
	flex-flow: column;
}

img {
	object-fit: contain;
}

.main-text {
	// font-size: x-large;
	line-height: 2;
	font-size: 2vmax;
	text-align: center;
	white-space: pre-wrap;
}
