<div class="centered">
	<h2>{{home.motto.txt}}</h2>
	<img alt="{{home.motto.alt}}" src="{{home.motto.img}}">
	<span class="content" *ngFor="let c of home.content">{{c}}</span>
	<a class="contact" routerLink="/yhteystiedot">{{home.contact}}</a>
	<div class="space"></div>
	<div *ngFor="let txtimg of home.examples; index as i">
		<div *ngIf="!(isHandHeld | async)" class="example" [class.even]="(i%2) == 0">
			<img alt="{{txtimg.alt}}" src="{{txtimg.img}}">
			<h1>{{txtimg.txt}}</h1>
		</div>
		<div *ngIf="(isHandHeld | async)" class="example handheld">
			<img alt="{{txtimg.alt}}" src="{{txtimg.img}}">
			<h1>{{txtimg.txt}}</h1>
		</div>
	</div>
	<h3 class="post">{{home.post[0]}}</h3>
	<h3 class="post">{{ postpost }}</h3>
</div>
